/* Instala una fuente personalizada de la carpeta "assets" */
@font-face {
    font-family: 'MiFuente';
    src: url(../Fuentes/Orbitron-Regular.ttf) format(truetype);
}

body{
    background-color: rgb(0, 0, 0);
    padding: 90px 0; 
}

/* Da formato a todos los títulos principales de las páginas */
.Titulo{
    font-family: 'MiFuente',sans-serif,serif;
    color: rgb(219, 0, 0);
    text-align: center;
    text-transform: capitalize;
    font-size: 60px;
}

h1::before{
    content: "🏁";
}

h2{
    color: rgb(219, 0, 0);
    text-align: center;
}

h3{
    color: rgb(219, 0, 0);
    text-align: center;
}

#lista-descriptiva{
    color: white;
    text-align: center;
}

ul{
    color: rgb(230,230,230); 
    text-align: center;
}

p{
    text-align: center;
    color: rgb(230,230,230);
}

.parrafo{
    margin-top: 20px;
}

blockquote{
    color: rgb(230,230,230);
    text-align: center;
}

label{
    color: rgb(230,230,230);
}


/* Crea una barra de navegación en la parte superior del sitio para viajar entre páginas */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(219, 0, 0, 0.304);
    z-index: 9999;
}

nav a{
    color: white;
    text-decoration: none;
    margin-right: 10px;
    font-size: 20px; 
}

nav a:hover{
    color: rgb(219, 0, 0);
    text-decoration: underline;
}

nav li{
    display: inline-block;
}

/* Crea el esqueleto de la animación de luces intermitentes en los botones de los marcadores */
@keyframes Animacion_Marcador {
    0%{background-color: black;}
    50%{background-color: rgb(214, 175, 35);}
    100%{background-color: black;}
}

/* Da formato a los botones de los marcadores y adicionalmente añade la animación de luces intermitentes */
.boton-marcador{
    padding: 20px 10px;
    margin: 20px;
    border: 1px solid rgba(219, 0, 0);
    border-radius: 6px;
    animation: Animacion_Marcador 2s ease 0.2ms infinite backwards;
}

.boton-marcador:hover{
    background-color: rgba(219, 0, 0, 0.304);
    text-decoration: none;
}

.marcadores{
    text-align: center;
    margin-bottom: 50px;
}

.descripcion{
    margin-top: 20px;
    margin-bottom: 50px;
}

/* Da posicion y estructura al logo de la página principal */
.logo{
    width: 60px;
    height: auto;
    margin: 0 20px;
}


.contenedor-flex{
    display: flex;
    margin: 12px 10px;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.GTR{
    flex: 1;
}

.img-GTR{
    width: 600px;
    margin: auto; 
    display: block;
    border-radius: 8px;
    transform: skew(-20deg);
}

.Glosario{
    flex: 1;
}

section{
    text-align: center;
}


/* Muestra un borde y una sombra roja al seleccionar un campo para escritura */
input:focus{
    border: 1px solid rgb(219, 0, 0);
    outline: none;
    box-shadow: 2px 2px 3px rgb(219, 0, 0);
}

.img-GTR,.Focos-GTR,.Estructura-GTR, .Interior-GTR,video{
    width: 100%;
    max-width: 800px;
    height: auto;
}

.Focos-GTR{
    margin: auto; 
    display: block;
    border-radius: 50%;
    filter: blur(5px);
}


/* Quita el efecto de desenfoque al pasar el cursor por encima de la imagen "Focos-GTR" */
.Focos-GTR:hover{
    filter: none;
}

.Estructura-GTR{
    margin: auto;
    display: block;
    border-radius: 8px;
}

.Interior-GTR{
    display: block; 
    margin: auto;
    margin-top: 50px;
    border-radius: 50%;
}


.Comparativa{
    width: 100%;
    /* min-width: 600px; */
    max-width: 1100px;
    height: auto;
    margin: auto;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgb(219, 0, 0);
}

/* Da formato y estilo a la tabla comparativa */
.Tabla-Comparativa{
    color: rgb(230,230,230);
    border: 2px double rgb(219, 0, 0);
    border-collapse: collapse;
    margin: auto;
    background-color: rgba(219, 0, 0, 0.304);
    width: 100%;
}

th{
    height: 30px;
    padding: 20px;
    background-color: rgb(17, 5, 5);
    color: rgb(219, 0, 0);
    vertical-align: top;
}

td{
    padding: 20px;
    text-align: left;
}

tr{
    border-bottom: 1px solid rgb(168, 166, 166);
}

/* Crea el efecto cebra en las celdas de la tabla */
tr:nth-child(even){
    background-color: #c3c3c3;
    color: rgb(0, 0, 0)
}

/* Da estructura al footer de las 3 páginas */
footer{
    margin-top: 20px;
    color: rgb(180, 180, 180); 
    text-align: center;
}

/* Ajusta el diseño de la página para dispositivos de 768px o menos */
@media (max-width:768px) {
    .body{
        margin: 200px;
    }
   
    .Titulo{
        font-size: 5vw;
    }

    .logo{
        height: 30px;
        width: 35px;
        margin: 5px;
    }

    /* Se aplica una especie de layout shifter para cambiar el diseño de la barra de navegación de ser una barra horizontal larga a mostrarse de forma un poco más compacta */
    .navbar{
        flex-direction: column;
        justify-content: space-between;
        height: auto;
        gap: 5px;
    }

    /* Se le aplica el patrón Column Drop al glosario e imagen de la página principal, 
    pasando de mostrarse uno al lado del otro a mostrarse apilados uno sobre el otro */
    .contenedor-flex{
        flex-direction: column;
        margin: 10px 15px;
    }

    /* Los botones animados de los marcadores pasan a mostrarse uno sobre el otro para adaptarse correctamente a la página */
    .boton-marcador{
        display: flex;
        flex-wrap: wrap;
        width: 90%;
    }

    /* Se le quita el efecto de transformación a la imagen de la página principal para que de muestre mejor en dispositivos pequeños */
    .img-GTR{
        transform: none;
    }

}

/* Ajusta el diseño de la pantalla para dispositivos de minimo 768px y máximo 1024px */
@media (min-width: 768px) and (max-width: 1024px){
    body{
        margin: 0px;
    }

    .parrafo{
        align-items: center;
        width: 50%;
        margin: auto;
    }

    .Comparativa{
        width: 80%;
    }

    .img-GTR{
        max-width: 80%;
    }
}

/* Realiza algunos ajustes visuales a la página cuando el dispositivo es de mínimo 1024px */
@media (min-width:1024px){
    .navbar{
        height: 100px;
    }

    .Titulo{
        color: bisque;
    }

    .Comparativa{
        width: 90%;
    }

    .img-GTR{
        max-width: 85%;
    }
}